.row-fluid
  .span10.offset1
    .aoi-hero-unit
      %h1.headline Bringing survey research into the digital age.
      %h3.sub-headline
        Mix core ideas from survey research with new insights from crowdsourcing.
        Add a heavy dose of statistics. Stir in a bit of fresh thinking. Enjoy.
      %p.headline-buttons
        %a.btn.btn-large{:href => "/#{@example_earl}?guides=true"}
          Try a Wiki Survey
        %a.btn.btn-large.btn-success{:href => new_question_path}
          Create a Wiki Survey
.how-it-works
  .row-fluid
    .span12
      %h3.title How a Wiki Survey works
  .row-fluid.boxes
    .span4.divider-holder
      .divider.hidden-phone
      %a{:href => '/questions/new'}
        = image_tag('homepage/create.png')
      %h3
        %a{:href => '/questions/new'}
          Tell Us About You
      %p Sign-up for SciSPIF and tell us a bit about your background and the environment in which you work.
    .span4.divider-holder
      .divider.hidden-phone
      .participate-holder
        %a{:href => "/#{@example_earl}?guides=true"}
          = image_tag('homepage/participate.png')
      %h3
        %a{:href => "/#{@example_earl}?guides=true"}
          Participate
      %p Answer questions about what influences how you develop software for your research. Participate as little or as much as you like.
    .span4
      %a{:href => "/#{@example_earl}/results"}
        = image_tag('homepage/discover.png')
      %h3
        %a{:href => "/#{@example_earl}/results"}
          Discover
      %p View the top responses for each question and filter for responses from people like you.

