.row-fluid
  %h3 SciSPIF is under construction. Pages abound with TODO notes and broken links. ANY data collected at this time is used for testing purposes only.
  .span10.offset1
    .aoi-hero-unit
      %h1.headline Towards a Scientific Software Process Improvement Framework (SciSPIF)
      %h3.sub-headline By participating in this survey, you help us and others like yourself leverage the goals and constraints of real scientists to support scientific software process improvement.
.how-it-works
  .row-fluid
    .span12
      %h3.title How it works
  .row-fluid.boxes
    .span4.divider-holder
      .divider.hidden-phone
      %a{:href => "/users/demographics"}
        = image_tag('homepage/create.png')
      %h3
        %a{:href => "/users/demographics"}
          Tell Us About You
      %p Sign-up for SciSPIF and tell us a bit about your background and the environment in which you work.
    .span4.divider-holder
      .divider.hidden-phone
      .participate-holder
        %a{:href => "/admin"}
          = image_tag('homepage/participate.png')
      %h3
        %a{:href => "/admin"}
          Participate
      %p Answer questions about what influences how you develop software for your research. Participate as little or as much as you like.
    .span4
      %a{:href => "/#{@example_earl}/results"}
        = image_tag('homepage/discover.png')
      %h3
        %a{:href => "/#{@example_earl}/results"}
          Discover
      %p View the top responses for each question and filter for responses from people like you.
